:root {
  --primary-color: #16432C;
  --secondary-color: #6A9C89;
  --font-heading-color: hsl(0, 0%, 10%);
  --font-heading-invert-color: hsl(0, 0%, 90%);
  --font-body-color: hsl(0, 0%, 20%);
  --font-body-invert-color: hsl(0, 0%, 80%);
  --grey-color: hsl(0, 0%, 30%);
  --background-color: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);
  --background-1-url: url(/assets/background-1.jpg);
  --background-2-url: url(/assets/background-2.jpg);
  --background-3-url: url(/assets/background-3.jpg);
  --background-4-url: url(/assets/background-4.jpg);
}