:root {
  --primary-color: #16432C;
  --secondary-color: #6A9C89;

  --font-heading-color: hsl(0, 0%, 10%);
  --font-heading-invert-color: hsl(0, 0%, 90%);
  --font-body-color: hsl(0, 0%, 30%);
  --font-body-invert-color: hsl(0, 0%, 80%);
  --font-light-color: hsl(0, 0%, 40%);
  --font-light-invert-color: hsl(0, 0%, 60%);

  --grey-color: hsl(0, 0%, 30%);

  --background-color: hsl(0, 0%, 100%);
  --background-light-color: hsl(0, 0%, 90%);
  --background-light-invert-color: hsl(0, 0%, 10%);
  --background-deep-light-color: hsl(0, 0%, 80%);
  --background-deep-color: hsl(0, 0%, 70%);
  --background-light-dark-color: hsl(0, 0%, 60%);
  --background-deep-dark-color: hsl(0, 0%, 50%);
  --shade-color: hsla(0, 0%, 0%, 0.3);

  --foreground: hsl(0, 0%, 0%);
  --background-1-url: url(/assets/background-1.jpg);
  --background-2-url: url(/assets/background-2.jpg);
  --background-3-url: url(/assets/background-3.jpg);
  --background-4-url: url(/assets/background-4.jpg);
}

.dark {
  --primary-color: #48e292;
  --secondary-color: #6A9C89;

  --font-heading-color: hsl(0, 0%, 90%);
  --font-heading-invert-color: hsl(0, 0%, 10%);
  --font-body-color: hsl(0, 0%, 70%);
  --font-body-invert-color: hsl(0, 0%, 20%);
  --font-light-color: hsl(0, 0%, 60%);
  --font-light-invert-color: hsl(0, 0%, 40%);

  --grey-color: hsl(0, 0%, 70%);

  --background-color: hsl(0, 0%, 0%);
  --background-light-color: hsl(0, 0%, 10%);
  --background-light-invert-color: hsl(0, 0%, 90%);
  --background-deep-light-color: hsl(0, 0%, 20%);
  --background-deep-light-color: hsl(0, 0%, 30%);
  --background-light-dark-color: hsl(0, 0%, 40%);
  --background-deep-dark-color: hsl(0, 0%, 50%);

  --foreground: hsl(0, 0%, 100%);
  --background-1-url: url(/assets/background-1.jpg);
  --background-2-url: url(/assets/background-2.jpg);
  --background-3-url: url(/assets/background-3.jpg);
  --background-4-url: url(/assets/background-4.jpg);
}